/* @import 'variables';
@import 'navbar';

body {
    background-color: $white;
}

.btn {
    border-radius: 0;
    transition: opacity .3s ease;
    &.hidden{
      opacity: 0;
      pointer-events: none;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
    list-style: none;

    li {
        .vokabeln {
            &::after {
                display: block;
                position: relative;
                left: -20px;
                margin-bottom: 20px;
                background-color: $gray;
                width: calc(100% + 40px);
                height: 1px;
                content: '';
            }
        }
    }
}
@media (min-width: 576px) {
    .container-center {
        position: relative;
        height: calc(100vh - 55px);

        .card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 300px;
        }
    }
}

.toggler {
    transition: height 0.3s ease, margin 0.3s ease, padding 0.3s ease;
    height: 41px;

    &.hidden {
        visibility: hidden;
        margin: 0;
        padding: 0;
        height: 0;
        overflow: hidden;
    }
}

.toggler{
    transition: height 0.3s ease, margin 0.3s ease, padding 0.3s ease;
    overflow: hidden;
}

#vokabel {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}

.cards-wrapper{
  overflow: hidden;
}

.nav-tabs-cards{
  position: relative;
  transition: left .5s ease;
  min-width: 100%;
}

.transition-height{
  overflow: hidden;
  transition: height .3s ease;
}
 */