@import 'variables';

body {
    background-color: $white;
}

ul {
    padding: 0;
    list-style: none;

    li {
        .vokabeln {
            &::after {
                display: block;
                position: relative;
                left: -20px;
                margin-bottom: 20px;
                background-color: $gray;
                width: calc(100% + 40px);
                height: 1px;
                content: '';
            }
        }
    }
}

.container-center {
    position: relative;
    height: calc(100vh - 55px);

    .card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 300px;
    }
}

#vokabel {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}
